:root {

    /* CORES PRIMÁRIAS */

    --primary-color: #00856f;
    --primary-color-light: #dce9e2;
    --primary-color-light-2: #f7f9f9;
    --primary-color-beige: #fffaf1;
    --primary-hover: #00453a;

    /* CORES SECUNDÁRIAS */

    --secondary-color: #212529;
    --secondary-color-light: #495057;
    --secondary-color-white: #ededed;

    font-size: 62.5%; /* 1rem = 10px */

}

* {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 37.5rem;
    margin: 4.1rem auto 0 auto;
    text-align: center;
    background-color: var(--primary-color-light);
}

h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

h1 {
    font-size: 3.4rem;
    color: var(--secondary-color);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.8rem;
    color: var(--secondary-color-light);
    line-height: 150%;
    margin-bottom: 3.2rem;
}

header > button {
    margin-bottom: 6rem;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    padding: 1.6rem 3.2rem;
    width: 26.3rem;
    height: 6.2rem;
    border-radius: 4rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.primary-button:hover {
    background-color: var(--primary-hover);
}